/.vscode
/.well-known
/blog
/node_modules
/public/hot
/public/storage
/public/bibi-bookshelf
/public/bibi
/public/assets
/public/home-assests
/public/fonts
/public/css
/public/img
/public/images
/public/cgi-bin
/public/.well-known
/public/.well-known.zip
/public/400.shtml
/public/401.shtml
/public/403.shtml
/public/404.shtml
/public/413.shtml
/public/500.shtml
/public/cp_errordocument.shtml
/public/php.ini
/public/.user.ini
/public/web.config
/public/robots.txt
/public/mix-manifest.json
/public/public/
/storage
/storage/*.key
/vendor
.env
.env*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
