@font-face {
  font-family: 'Novecento WideMedium';
  src: url('Novecento WideMedium.eot');
  src: url('Novecento WideMedium.eot?#iefix') format('embedded-opentype'),
       url('Novecento WideMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento-WideMedium';
  src: url('Novecento-WideMedium.svg#Novecento-WideMedium') format('svg'),
       url('Novecento-WideMedium.ttf') format('truetype'),
       url('Novecento-WideMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

